PORT=7000
META_ACCESS_TOKEN=your-meta-access-token
META_PHONE_NUMBER_ID=your-phone-number-id
ACTIVEMQ_BROKER_URL=tcp://localhost:61616
ACTIVEMQ_BROKER_QUEUE="inbound-message-queue"
WEBHOOK_VERIFY_TOKEN=choose-your-own-string
META_APP_SECRET=your-meta-app-secret
SESSION_TIMEOUT_MINUTES=30
